.add-friends {
  width: 80vw;
  overflow-y: scroll;
  margin: auto;
  height: 80vh;
}
.inv {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inv h6 {
  width: 40%;
  position: relative;
  left: 6vw;
}

.accept-refuse {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.accept-refuse .accept,
.accept-refuse .refuse {
  width: 30%;
  border-radius: 6px;
  height: max-content;
  background-color: rgb(167, 167, 223);
}
