.grid {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.main {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgb(29, 27, 27);
}

.main-core {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  height: auto;
  width: 99%;
  margin-top: 1vh;
}
