.navigator-core {
  width: 48vw;
  background-color: white;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  height: 100vh;
}

@media (max-width: 800px) {
  .navigator-core {
    display: block;
    width: 100vw;
    height: min-content;
    white-space: nowrap;
    overflow-x: scroll;
  }
  .navigator-core h3 {
    display: inline-block;
    width: max-content;
  }
}

.navigator-core h3 {
  margin: 10px;
  background-color: rgb(52, 86, 221);
  border-radius: 9px;
  padding: 1px;
  color: white;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgb(28, 28, 29);
}

.bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
