.nav-bar {
  padding: 4px;
  display: grid;
  grid-template-columns: 10% 20% 10% 1fr;
  align-content: center;
  width: 100vw;
  align-items: center;
  background-color: #a020f0;
}

.search {
  display: grid;
  place-items: center;
  border-radius: 4px;
  width: 100%;
  padding: 2px;
  margin: auto;
}

.search label {
  display: grid;
}

.search label img {
  width: 95%;
  height: auto;
  justify-self: end;
  align-self: center;
  opacity: 0.3;
}

.search input {
  border-radius: 4px;
  width: 100%;
  outline: none;
  border: none;
}

.my-image {
  width: 2em;
  height: auto;
  justify-self: center;
}

.store-logo {
  width: 1.5em;
  height: auto;
}

.social {
  position: fixed;
  left: 10px;
  background-color: rgba(235, 230, 240, 0.1);
  border-radius: 20px;
  top: 40vh;
  width: 5em;
  height: 30vh;
  padding: 6px;
  display: grid;
  justify-content: space-evenly;
  flex-direction: column;
  z-index: 3;
}

.social .social-logo {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 80% max-content;
  cursor: pointer;
}

.social-logo .MuiSvgIcon-root {
  border: none;
  fill: blue;
}

.social-logo i {
  color: blue;
}

.header {
  box-shadow: 0 1px 1px 1px rgb(88, 87, 88);
}

.search-query {
  width: 100%;
}

.input-field {
  border: 2px solid whitesmoke;
}

.nav-bar h4 {
  color: whitesmoke;
}
