.center {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
