.posting {
  width: 100%;
  display: flex;
  justify-content: center;
}

.posting-icon {
  width: 2em;
  height: auto;
  position: relative;
  bottom: 22px;
}

.posting-icon {
  width: 2.5em;
  height: 2.5em;
  margin: auto;
}

.posting-icon .MuiSvgIcon-root {
  width: 100%;
  height: 100%;
  fill: rgb(116, 116, 228);
}

.posting {
  display: grid;
  height: max-content;
  justify-items: center;
  align-items: center;
  padding: 20px;
}

.posting .phrase {
  margin: auto;
  color: blue;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}
