.welcome-wrapper {
  display: grid;
  place-items: center;
  background-color: #1d2022;
  background-size: cover;
  width: 100%;
  max-width: 100%;
}

.products-list {
  width: 95%;
  max-width: 100% !important;
  margin-top: 2% auto 2% auto;
  overflow-x: scroll;
  height: max-content;
  white-space: nowrap;
}

.products-list img {
  height: 30vh;
  width: auto;
  display: inline-block;
  margin: 10px;
  box-shadow: 0 1px 3px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 6px;
}

.products-list img:hover {
  animation: zoom 0.5s ease-out forwards;
}

@keyframes zoom {
  100% {
    transform: scale(1.1);
  }
}

.intro-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  width: 100vw;
  padding: 10%;
}

.intro-section .intro {
  margin: 10px;
  letter-spacing: 1px;
  color: rgb(185, 185, 236);
  padding: 10px;
  border-left: 1px dotted rgb(231, 247, 11);
  border-right: 2px dotted rgb(146, 250, 10);
  border-radius: 0 10px 0 10px;
  font-size: 1.5em;
  text-indent: 1.1em;
}

.intro-section .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.intro-section .buttons button {
  border-radius: 4px;
  padding: 4px;
  margin: 10px;
  box-shadow: 0px 1px 2px 2.5px rgb(22, 22, 22);
}
.intro-section .buttons button:hover {
  box-shadow: 0 1px 2px 3px rgba(0, 0, 0, 0.2);
}

button h2 {
  cursor: pointer;
}

.buttons .MuiButton-root {
  letter-spacing: 2px;
  background-color: rgb(186, 186, 245);
  color: blue;
  font-weight: bolder;
  border-radius: 30px !important;
}
