.search-query {
  width: 100%;
  display: grid;
  place-items: center;
}

.MuiSvgIcon-root {
  cursor: pointer;
  padding: 1px;
  width: 100%;
  border: 2px solid rgb(101, 101, 230);
  fill: rgb(18, 18, 182);
  border-radius: 4px;
}
.get-data {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid rgb(8, 22, 170);
  border-radius: 4px;
  padding: 1px;
}

.get-data .input-field {
  border: 2px solid rgb(101, 101, 230);
  border-radius: 4px;
  height: 100%;
}

.get-data .hidden {
  display: none;
  pointer-events: none;
}
