.navigator-core {
  width: 48vw;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  height: 80vh;
}

@media (max-width: 800px) {
  .navigator-core {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    height: max-content;
    width: 100vw;
  }
  .navigator-core h4 {
    display: inline-block;
    width: max-content;
  }
}

.navigator-core h3 {
  margin: 10px;
  background-color: rgb(27, 77, 226);
  border-radius: 16px;
  padding: 4px;
  color: rgb(24, 24, 24);
  cursor: pointer;
  letter-spacing: 1px;
  box-shadow: 1px 1px 1.5px 1px black;
}

.bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.on-page {
  background-color: rgb(170, 170, 209) !important;
}
