.navigator-core_ {
  width: 48vw;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  height: 80vh;
}

@media (max-width: 800px) {
  .navigator-core_ {
    white-space: nowrap;
    height: 3.5em;
    width: 100vw;
    overflow-x: scroll;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
    overflow-y: hidden;
  }
  .navigator-core_ h3 {
    display: inline-block;
    width: auto;
    margin-bottom: 4px;
  }
}

.navigator-core_ h3 {
  margin: 10px;
  background-color: rgb(27, 77, 226);
  border-radius: 16px;
  padding: 4px;
  color: rgb(24, 24, 24);
  cursor: pointer;
  letter-spacing: 1px;
  box-shadow: 1px 1px 1.5px 1px black;
}

.bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.on-page {
  background-color: rgb(170, 170, 209) !important;
}
