.slide {
  display: grid;
  grid-template-columns: 15px 1fr 15px;
  grid-template-rows: auto auto;
  width: 100%;
  max-width: 100%;
  padding: 10px;
}

.slide .label {
  grid-area: 1/1/2/4;
  border: 1px solid rgb(214, 212, 236);
  border-radius: 4px;
  padding: 2px;
  width: max-content;
}

.slide .info {
  grid-area: 2/2/3/3;
  color: blue;
  width: 60%;
  max-width: 100%;
  margin: auto;
  word-wrap: break-word;
  padding: 4px;
}
