.services {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.globe {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  grid-gap: 20px;
  height: 100%;
  background-color: white;
  padding: 20px;
}

.store-section {
  max-width: 100%;
  background-image: url("../Sign/svg/Pins/background-1.jpg");
  background-size: cover;
  box-shadow: 0 2px 3px 1px rgb(126, 167, 248);
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  display: grid;
  place-items: center;
  clip-path: polygon(
    0 6%,
    15% 15%,
    6% 0,
    94% 0,
    85% 15%,
    100% 4%,
    100% 94%,
    84% 92%,
    94% 100%,
    6% 100%,
    16% 92%,
    0 94%
  );
}

.details {
  max-width: 100%;
  padding: 10px;
}
@keyframes zooming {
  100% {
    transform: scale(1.05);
  }
}

.globe .store-section:hover {
  animation: zooming 0.5s ease-out forwards;
}

.store-section svg,
.inline-card svg {
  width: 2.5em;
  height: auto;
  cursor: pointer;
}
.inline-globe {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 60vh;
}

@media (max-width: 644px) {
  .store-section {
    width: 90vw;
  }
}
