.drivers {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  margin: auto;
}

.profile-dr,
.message-dr {
  padding: 4px;
}

.data {
  width: 100%;
  background-color: rgb(14, 13, 13);
}

.data .abs {
  max-height: 60vh;
  overflow-y: scroll;
}
