.product-image-2 img {
  height: 40vh;
  width: auto;
}

.product-2 {
  display: inline-block;
  margin-left: 10px;
  border-radius: 20px;
  height: max-content;
}

.product-image-2 {
  width: 100%;
  height: max-content;
  box-shadow: 0.1px 3px 2px 1px rgb(177, 174, 174);
}

.product-image-2 img {
  width: 100%;
  height: auto;
}

.price-location {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
}

.price {
  width: 50%;
}

.location {
  width: 49%;
}
