.store {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

.store .img {
  width: 2em;
  height: auto;
}

.store h3 {
  margin: auto;
}

.details {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.selected {
  color: rgb(133, 133, 235);
}
