.notifications {
  width: 98% !important;
  margin: auto;
  overflow-y: scroll;
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 245);
}

.notification {
  width: 100%;
  padding: 2px;
}

.notification .image {
  grid-area: 1/1/2/2;
  width: 4em;
  height: 4em;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid rgb(167, 167, 228);
}

.image img {
  width: auto;
  height: 100%;
  overflow: hidden;
}
.notification .jsx {
  width: 100%;
  grid-area: 1/2/3/3;
  font-size: small;
  border-left: 1px solid rgb(59, 59, 63);
  border-bottom: 1px solid rgb(79, 79, 85);
  border-radius: 4px 4px 0 4px;
  padding: 4px;
  margin: 2px;
  color: rgb(171, 171, 238);
}
