.signUp {
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  grid-gap: 2vw;
  padding-top: 2vh;
}

.inner-sign {
  height: max-content;
  max-height: 100%;
  width: 80%;
  background-color: #a020f0;
  border-radius: 4px;
  display: grid;
  place-items: center;
  padding: 2vw;
  margin-bottom: 10px;
}
.input {
  width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
}

.input input {
  outline: none;
  height: 2em;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  border: 2px solid rgb(94, 94, 245);
  margin: 2px;
}

.input h4 {
  color: rgb(12, 12, 141);
}
.input input:focus {
  box-shadow: 0 0.2px 0.2px 0.3px rgb(140, 140, 230);
}

.show-yes {
  color: whitesmoke;
  letter-spacing: 2px;
  animation: fade-in 0.5s ease-in forwards;
  margin-bottom: 2px;
  width: max-content;
}

.show-no {
  opacity: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.smallScreen {
  width: 80%;
}

.inner-sign #avatar {
  opacity: 0;
}

.inner-sign label {
  width: 100%;
  display: grid;
  place-items: center;
}

.inner-sign label .MuiSvgIcon-root {
  width: 15%;
  height: auto;
  fill: whitesmoke;
}

.submit .processing {
  margin-top: 4vh;
}

.submit button {
  font-weight: 800;
  border-radius: 4px;
  color: rgb(198, 198, 235);
  padding: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #2f1674;
  border: 1px solid navy;
  cursor: pointer;
  box-shadow: 0px 1px 1.3px 1.2px rgb(36, 35, 35);
}

.submit .already-account {
  color: rgb(231, 231, 241);
  font-weight: 600;
  cursor: pointer;
}

.big-size {
  width: 30%;
}

.processing p {
  color: red;
}
