.post {
  background-color: rgb(14, 13, 13);
  box-shadow: 0 1px 2px 1px rgb(51, 50, 50);
  border-radius: 3px;
  padding: 2px;
  width: 98%;
  margin: 6px auto 6px auto;
  max-width: 100%;
}
.card-header {
  width: 99%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  margin: auto;
}

.card-header .poster-image {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  border: 2px solid rgb(163, 163, 243);
  margin: 2px;
  overflow: hidden;
}

.poster-image img {
  width: 100%;
  height: auto;
}
.card-header h3 {
  background-color: white;
  border: 1px solid rgb(237, 237, 248);
  border-radius: 10px;
  margin: auto;
  padding: 2px;
}

.card-data {
  display: grid;
  grid-template-columns: 2% 1fr 2%;
  grid-template-rows: 10px max-content max-content 10px;
  grid-gap: 0 2px;
  width: 100%;
  position: relative;
}

.card-data p {
  grid-area: 3/2/4/3;
  width: 100%;
  margin-top: 1%;
  border: 1px solid rgb(59, 58, 61);
  padding: 2px;
  border-radius: 4px;
  color: rgb(188, 188, 235);
}

.cells {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  background-color: rgb(246, 245, 250);
  border-radius: 6px;
  margin: 2px auto 2px auto;
  padding: 2px;
  margin-bottom: 6px;
  box-shadow: 0 0.8px 0.8px 0.6px rgb(194, 194, 199);
  width: 96%;
}

.cell svg,
.cell img {
  cursor: pointer;
}

.view-more {
  margin-right: 2%;
}

.view-more div .MuiSvgIcon-root {
  width: 1.5em;
  height: auto;
}

.view-more div {
  cursor: pointer;
}

.card-data ul {
  position: absolute;
  top: 0;
  right: calc(2px + 2%);
  width: 40%;
  z-index: 3;
  list-style: none;
  padding: 6px;
  border-radius: 3px;
  border: 1px solid rgb(240, 240, 247);
  animation: appear 0.5s ease-out forwards;
}

.card-data ul li {
  background-color: rgb(43, 22, 84);
  padding: 6px;
  margin: 2px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

@keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.card-data .pro {
  position: absolute;
  left: 2%;
  right: 2%;
  bottom: 0;
  height: 100%;
  background-color: blue;
  z-index: 10;
  border-radius: 4px;
}
