.profile {
  width: 100%;
  height: 100vh;
}

.profile,
.outer-nav,
.outer-feed {
  display: grid;
  place-items: center;
}

.profile-center {
  width: 98%;
  height: 98vh;
  background-color: rgb(247, 239, 239);
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: stretch;
}

.outer-nav {
  width: 30%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgb(241, 241, 247);
}

.outer-feed {
  width: 69%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgb(241, 241, 247);
  position: relative;
}

.nav,
.feed {
  margin-top: 10px;
  width: 98%;
  max-width: 100%;
  overflow-x: hidden;
}

.feed {
  position: absolute;
  top: 0;
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1000px) {
  .center {
    display: block;
  }
  .outer-nav,
  .outer-feed {
    width: 98vw;
    height: 100%;
  }
  .outer-privacy {
    overflow-x: hidden;
  }

  .browser {
    width: 100% !important;
  }
  .feed {
    display: block;
    width: 100%;
  }
}

.picture {
  width: 100%;
  height: auto;
}

.link {
  display: grid;
  grid-template-columns: 10% 1fr;
  cursor: pointer;
}

.my-picture .mee {
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  border: 2px solid rgb(129, 129, 219);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10px;
}

.mee img {
  width: 100%;
  height: auto;
  transform: scale(1.5);
}

.my-picture {
  width: 100%;
}

.friends {
  display: grid;
  grid-template-columns: 10% 1fr;
  grid-template-rows: 1em 1em max-content;
  margin: 10px;
  cursor: pointer;
}

.friends .friend-image {
  grid-area: 1/1/3/2;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border: 1px solid rgb(181, 181, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.friend-image img {
  width: auto;
  height: 100%;
}
.friends h6 {
  grid-area: 1/2/2/3;
  position: relative;
  left: 20px;
  font-size: 1em;
}

.friends .jsx {
  grid-area: 3/2/4/3;
}

.network {
  margin: 15px;
}

.browser {
  width: 60%;
  background-color: rgb(221, 221, 236);
  height: max-content;
  height: 100vh;
  overflow-y: scroll;
}

.outer-privacy {
  width: 39%;
  background-color: rgb(221, 221, 236);
  height: max-content;
  display: grid;
  place-items: center;
  height: 98vh;
  display: grid;
  place-items: center;
}

.scroller-11 {
  height: 15em;
  background-color: rgb(247, 241, 241);
}

.scroller-1 {
  background-color: rgb(241, 236, 236);
}

.clip {
  width: 300px;
  height: auto;
}

.data {
  margin: 10px;
}

.posts {
  overflow-x: hidden;
  width: 100%;
}

.privacy {
  background-color: rgb(249, 249, 252);
  height: 98vh;
  width: 100%;
  overflow-y: scroll;
}

.near-head h3 {
  letter-spacing: 2px;
}

.near-head img {
  width: 1em;
  height: auto;
  margin-left: 10px;
}

.near-head {
  display: grid;
  grid-template-columns: 5% max-content 1fr;
}

.store {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: max-content max-content;
  grid-gap: 8px;
  width: 100% !important;
}

.store h4 {
  grid-area: 1/2/2/3;
}
.store h4:hover {
  color: rgb(124, 124, 233);
}

.store img {
  grid-area: 1/3/2/4;
  width: 6%;
  height: auto;
}

.store .details {
  grid-area: 2/1/3/4;
}

.link img {
  width: 60%;
  height: auto;
}

.selected {
  color: rgb(145, 145, 233);
}

.collections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 6px;
  max-width: 100%;
}

.collect {
  width: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  background-color: rgb(240, 242, 247);
  border-radius: 5px;
  margin: auto;
  box-shadow: 0 1px 1px 1px rgb(221, 218, 218);
}

.collect h6 {
  width: 70%;
}

.collect img {
  width: 29%;
  height: auto;
}

.product-image-2 {
  width: 100%;
  height: max-content;
  box-shadow: 0.1px 3px 2px 1px rgb(177, 174, 174);
}

.product-image-2 img {
  width: 100%;
  height: auto;
}

.price-location {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
}

.price {
  width: 50%;
}

.location {
  width: 49%;
}

.expaind {
  width: 100%;
  height: max-content;
  overflow-x: scroll;
  white-space: nowrap;
  display: block;
}

.product-2 {
  display: inline-block;
  margin-left: 10px;
  border-radius: 20px;
  height: max-content;
}

.feed .outer-privacy {
  overflow-x: hidden;
  max-width: 100%;
}

.product-image-2 img {
  height: 40vh;
  width: auto;
}

.go-small {
  width: 10vw !important;
  height: 10vw !important;
}

.store {
  width: 100% !important;
}

.outer-privacy {
  width: 100% !important;
}
