.chats {
  height: 80vh;
  display: grid;
  place-items: center;
}

.conversation {
  height: 80vh;
  display: grid;
  place-items: center;
}

.inner-chats,
.inner-conversation,
.notifications,
.invitations {
  width: 96%;
  height: 96%;
  overflow-y: scroll;
  box-shadow: 0 1px 0.5px 1px rgb(165, 165, 167);
  border-radius: 2px;
  margin: auto;
}

.inner-conversation {
  background-image: url("../../svg//whatsup.jpg");
  background-size: cover;
  color: white;
  height: 90vh;
}
.messages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  height: 90vh;
  width: 100%;
  background-color: rgb(245, 245, 250);
  position: relative;
}

.scroller-y {
  overflow-y: scroll;
}
/* position: absolute;
  top: 4px; */

.links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  height: max-content;
  color: rgb(130, 130, 238);
}
.links h4 {
  width: max-content;
  margin: 3px;
  padding: 2px;
  display: inline-block;
  cursor: pointer;
}

.scroller-x {
  overflow-x: scroll;
  white-space: nowrap;
}

.current {
  border-bottom: 4px solid rgb(29, 29, 177);
}

.chat {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
}

.chat .chat-image {
  width: 4em;
  height: 4em;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  border: 3px solid rgb(167, 167, 228);
  cursor: pointer;
}

.chat-image img {
  width: auto;
  height: 100%;
}

.chat h4 {
  width: 35%;
  cursor: pointer;
}

.chat .controller {
  width: 25%;
  position: relative;
}

.controller .MuiSvgIcon-root {
  width: 25%;
  height: auto;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 40%;
}

.message-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.timeStamp {
  font-size: xx-small;
  font-weight: 600;
  width: 30%;
  color: blue;
}

.message-text {
  background-color: rgb(246, 244, 248);
  color: black;
  width: 60%;
  margin: 10px;
}

.him-border {
  border-radius: 0 10px 10px 10px;
}

.me-border {
  border-radius: 10px 0px 10px 10px;
}
