.cell {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content;
  width: max-content;
}

.cell .cell-icon {
  width: 100%;
  height: 100%;
  grid-area: 1/1/2/2;
}

.cell-icon .MuiSvgIcon-root {
  width: 1.5em;
  height: auto;
  margin: auto;
}
.cell i {
  width: 100%;
  grid-area: 2/1/3/3;
  text-align: center;
  color: rgb(226, 226, 236);
}

.cell .MuiSvgIcon-root {
  margin: auto;
  width: 1em;
  height: auto;
  grid-area: 1/2/2/3;
}

.clicked-cell .MuiSvgIcon-root {
  fill: blue;
}

.cell-view {
  height: max-content;
  align-self: flex-end;
}
.cell-view .MuiSvgIcon-root {
  width: 0.8em;
  height: auto;
}
