#grid {
  width: 100%;
  overflow-x: hidden;
}

.main {
  display: grid;
  place-items: center;
}

.main-core {
  display: flex;
  justify-content: space-evenly;
  width: 99%;
  height: max-content;
  background-color: rgb(196, 196, 250);
  margin-top: 1vh;
}

@media (max-width: 800px) {
  .main-core {
    display: block;
  }
}
