.header-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  position: relative;
}

.links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  justify-self: end;
}

.links .link {
  box-shadow: 0 0.1px 2px 1px rgba(194, 191, 191, 0.5);
  background-color: white;
  border-radius: 15px;
  padding: 3px;
  margin: 4px;
  font-size: 1.1em;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  cursor: pointer;
  color: rgb(83, 83, 238);
  height: max-content;
}

.links .link:hover {
  color: rgb(140, 140, 235);
}
@media (max-width: 680px) {
  .header-wrapper {
    display: grid;
    place-items: center;
  }
  .links {
    margin: auto;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
  }
}

@media (min-width: 680px) {
  .header-wrapper input {
    margin-left: 20px;
    margin-right: 20px;
    width: 20vw;
  }
}

.search-query {
  width: 20%;
  height: max-content;
  display: grid;
  grid-template-columns: 0 1fr 10%;
  border: 2px solid blue;
  border-radius: 10px;
  margin: 1vw;
}

.search-query input {
  width: 90%;
  outline: none;
  border: none;
  justify-self: end;
}

.search-query img {
  width: 80%;
  margin: auto;
  height: auto;
  opacity: 0.7;
}

.up img {
  width: 2em;
  height: auto;
  position: fixed;
  bottom: 2em;
  right: 10px;
  z-index: 3;
}

@media (min-width: 679px) {
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .links {
    width: 40vw !important;
  }
}

@media (max-width: 679px) {
  .search-query {
    width: 40vw;
    margin: auto;
  }
}
