.get-comment {
  display: grid;
  grid-template-columns: 50% 50%;
}

.get-comment h5 {
  grid-area: 1/1/2/2;
  width: max-content;
  margin: 10px;
  color: rgb(189, 131, 243);
}

.get-comment .img {
  width: 5%;
  height: auto;
  justify-self: start;
  cursor: pointer;
}
