
.sign{
    background-color: white;
    height: 100vh;
    overflow-y: scroll;
    display: grid;
    place-items: center;
}

.form {
    background-color: rgb(247, 241, 241);
    width: 80%;
    height: 80vh;
    display: grid;
    box-shadow: 0 1px 1px 1px rgb(207, 204, 204);
    border-radius: 3px;
    position: relative;
    top: 6.5vh;
    padding: 20px;
}

.profile{
    height: 3.5em !important;
    width: 100%;
}

.name{
    height: max-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
}

.name input{
    width: 80%;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid rgb(211, 97, 207);
}

.name img{
    width: 2em;
    height: auto;
}

.see-me{
    width: 2em;
    height: auto;
}

.profile #pic{
    display: none;
}

.profile-see{
    width: 100%;
}

#create{
    font-weight: 800;
    width: max-content;
    height: auto;
    color: rgb(55, 24, 138);
    background-color: rgb(234, 234, 243);
    border-radius: 5px;
    border: 1px solid blue;
}

#create:hover{
    background-color: rgb(211, 228, 240);
}

.data{
    border-bottom: 1px solid blue !important;
    animation: grow 0.4s ease-in forwards;
}

@keyframes grow{
    0%{
        transform: scale(0);
    };

    100%{
        transform: scale(1);
    }
}

.new-account{
    color: rgb(120, 35, 201);
    cursor: pointer;
}

#warning{
    color: red;
}

#profile-picture{
    transform: scale(0.6);
}